body{
    background-color: #e2e8f0; /* Slate */
    color: #004953; /* Eagles Midnight Green */
    font-family:'Space Mono', monospace;
}
h1{
    color: #17B169; /* carlsberg Green */
}
header{
    background-color:#E25822; /*Flame*/
    color: #004953;
}

em{
    background-color: #E25822;
}

/* #E25822 flame */
/* color: #87A96B; Asparagus */
/* color: #DADD98; Green Earth */