body
{
  margin: 200px;
  font-family: Verdana, Arial, Tahoma, Serif;
  color: #1e293b;
  background-color: rgb(72,104,96);
  font-size: 100%;
}
header,footer
{
  text-align: center
  font-family: Garamond, serif;
}